<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>countryName</param-name>
        <param-value>Viet Nam</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>sample.servlet.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>sample.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet2</servlet-name>
        <servlet-class>sample.servlet.searchServlet2</servlet-class>
        <init-param>
            <param-name>lang</param-name>
            <param-value>Vietnamese</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>sample.servlet.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet1</servlet-name>
        <servlet-class>sample.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>sample.servlet.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>sample.servlet.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactServlet</servlet-name>
        <servlet-class>sample.servlet.contactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>sample.servlet.mainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServet</servlet-name>
        <servlet-class>sample.servlet.logoutServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeProfileSevlet</servlet-name>
        <servlet-class>sample.servlet.changeProfileSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>sample.servlet.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartServlet</servlet-name>
        <servlet-class>sample.servlet.updateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <servlet-class>sample.servlet.saveShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageAccountsServlet</servlet-name>
        <servlet-class>sample.servlet.manageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAccountServlet</servlet-name>
        <servlet-class>sample.servlet.searchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <servlet-class>sample.servlet.updateStatusAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageOrderServlet</servlet-name>
        <servlet-class>sample.servlet.manageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBDServlet</servlet-name>
        <servlet-class>sample.servlet.searchBDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBNServlet</servlet-name>
        <servlet-class>sample.servlet.searchBNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPlantServlet</servlet-name>
        <servlet-class>sample.servlet.addPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlantServlet</servlet-name>
        <servlet-class>sample.servlet.deletePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managePlantServlet</servlet-name>
        <servlet-class>sample.servlet.managePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlantServlet</servlet-name>
        <servlet-class>sample.servlet.updatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCateServlet</servlet-name>
        <servlet-class>sample.servlet.addCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCateServlet</servlet-name>
        <servlet-class>sample.servlet.deleteCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <servlet-class>sample.servlet.manageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCateServlet</servlet-name>
        <servlet-class>sample.servlet.searchCateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategoriesServlet</servlet-name>
        <servlet-class>sample.servlet.updateCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPlantServlet</servlet-name>
        <servlet-class>sample.servlet.searchPlantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet2</servlet-name>
        <url-pattern>/searchServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet1</servlet-name>
        <url-pattern>/searchServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactServlet</servlet-name>
        <url-pattern>/contactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/mainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServet</servlet-name>
        <url-pattern>/logoutServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeProfileSevlet</servlet-name>
        <url-pattern>/changeProfileSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartServlet</servlet-name>
        <url-pattern>/updateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveShoppingCartServlet</servlet-name>
        <url-pattern>/saveShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartServlet</servlet-name>
        <url-pattern>/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageAccountsServlet</servlet-name>
        <url-pattern>/manageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAccountServlet</servlet-name>
        <url-pattern>/searchAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusAccountServlet</servlet-name>
        <url-pattern>/updateStatusAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageOrderServlet</servlet-name>
        <url-pattern>/manageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBDServlet</servlet-name>
        <url-pattern>/searchBDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBNServlet</servlet-name>
        <url-pattern>/searchBNServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPlantServlet</servlet-name>
        <url-pattern>/addPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlantServlet</servlet-name>
        <url-pattern>/deletePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managePlantServlet</servlet-name>
        <url-pattern>/managePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlantServlet</servlet-name>
        <url-pattern>/updatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCateServlet</servlet-name>
        <url-pattern>/addCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCateServlet</servlet-name>
        <url-pattern>/deleteCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCategoriesServlet</servlet-name>
        <url-pattern>/manageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCateServlet</servlet-name>
        <url-pattern>/searchCateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCategoriesServlet</servlet-name>
        <url-pattern>/updateCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPlantServlet</servlet-name>
        <url-pattern>/searchPlantServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
